<!DOCTYPE html>
<html>
<head>
    <title>My Django App</title>
    <!-- Add your CSS and JavaScript files here -->
</head>
<body>
    <header>
        <!-- Add your header content here -->
        Website under development
    </header>
    
    <hr>
    <a href="{% url '' %}">Home</a>
    &nbsp;
    <a href="{% url 'create-task' %}">Create task</a>
    &nbsp;
    <a href="{% url 'view-tasks' %}">View tasks</a>
    &nbsp;
    <a href="{% url 'register' %}">Register</a>
    <hr>

    <div>
        {% block content %}
        <!-- Add your main content here -->
        {% endblock %}
    </div>
    
    <footer>
        <!-- Add your footer content here -->
        &copy; 2018 My Django App
    </footer>
</body>
</html>